#index {
  background-color:#EFEBE0;
}
@font-face {
  font-family: "my titles";
  src: url('type/BEBAS___.ttf')
}
@font-face {
  font-family: "my text";
  src: url('type/AquilineTwo.ttf')
}
h1.title {
  font-family: "my titles", Georgia, serif;
}
h2.title {
  font-family: "my titles", Georgia, serif;
}
p,span {
  font-family: "my text", Georgia, serif;
}
p{
  font-size: 20px;
  line-height:150%;
  -webkit-column-count:4;
  column-count:2;
}
p.small{
  font-size: 14px;
  -webkit-column-count:2;
  column-count:2;
}
span{
  font-size: 20px;
}
h1{
  text-align: center;
  font-size: 100px;
}
h2{
  text-align: center;
  font-size: 20px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icons{
  display:inline-block;
  width: 200px; 
  height: auto; 
}
.transparent {
  -webkit-transition: opacity 1s ease-in-out;
  opacity:0;
}
.verticalLine {
  padding-right: 20px;
  border-right: solid #000000;
}
.horizontalLine {
  border-bottom: solid #000000;
}
.whole-block{
  padding-left:10px;
  border-top: solid #000000;
  border-left: solid #000000;
  border-right: solid #000000;
  border-bottom: solid #000000;
}
#hand {
  position:relative;
  -webkit-animation-name:myfirst;
  -webkit-animation-duration:2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state:running;
}
@-webkit-keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:30px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left:30px; top:0px;}
  100% {left:0px; top:0px;}
}
#exc{
  position:relative;
  left:29px;
  top:0px;
}